<p>post-list works!</p>
<mat-slider min="1" max="100" step="1" value="1"></mat-slider>
<app-address-form></app-address-form>

<div class="row">
    <div class="col-xs-12">
        <h2>Vos Posts</h2>
        <div class="list-group">
            <button
            class="list-group-item"
            *ngFor="let post of posts; let i = index"
           >
            <h3 class="list-group-item-heading">
                {{ post.title}}
            </h3>
            <p>date: {{ post.date | date: 'short' }}</p>
            <p class="list-group-item-text">{{ post.content }}</p>
            <h5>{{ post.like }}
                <button (click)="addLike(post)">Like</button>
                <button (click)="disLike(post)">Dislike</button>
            </h5>

            <button class="" (click)='onRemovePost(i)'> Supprimer</button>
            
            </button>
        </div>
    </div>
</div>

<button class="btn btn-primary" (click)="onNewPost()">Nouveau Post</button>

